@import "modern-normalize";

body {
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
}

.layout-content {
  flex: 1;
  padding: 20px;
}

aside {
  width: 240px;
  min-height: 100vh;
  border-right: 1px solid #ccc;
  padding: 20px;
}
